<?xml version="1.0"?>
<!--
/**
* TA Dev
*
* NOTICE OF LICENSE
* @author TA Dev Core Team <suporte@tatecnologia.com>
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
<!--    <event name="sales_order_place_after">
       <observer name="sankhya_order_place_after" instance="TADev\Sankhya\Observer\SalesOderPlaceAfter" />
    </event> -->
</config>

